.container{
  
  margin: 5% 30%;
  width: 500px;
  height: 500px;
  background-color: black;
  color: white;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: larger;
}
form{
 
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
 
}
.con1{
  margin: 20px;
 display: flex;
 justify-content: space-evenly;
}
#t{
  font-size: xx-large;
}
.btn{
  border-radius: 50%;
}
.cont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(216, 141, 29);
  margin: 30px 80px;
 
  border-radius: 10px;
  
}
.dd{
  
width:40%
 
}
.heading{
  color: orange;
}
